{% extends "layout.html" %}

{% block body %}
  <div class="container text-center">
    <div class="row">
      <div class="col-3">

      </div>
      <div class="col-6">
        <br><br><br>
        <h1 class="display-6">PDF to Speech</h1>
        <hr class="border border-primary border-3 opacity-75">

        <form method="POST" enctype="multipart/form-data">
          <br>
          <div class="input-group">
            <input type="file" name="pdf_file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Upload</button>
          </div>
          <br>
        </form>
        <hr class="border border-primary border-3 opacity-75">
      </div>
      <div class="col-3">

      </div>
    </div>
  </div>

{% endblock %}
